<%- include('./partials/header') %>

<header id="header">
	<div id="logo">
		<img src="./assets/icon.png" alt="">
		<a href="/#">Cipher</a>
	</div>
	<nav id="nav">
		<ul id="menu" role="menu">
			<li><a href="/#">Início</a></li>
			<li><a href="/#sobremim">Sobre mim</a></li>
			<li><a href="/#materiais">Materiais</a></li>
			<li><a href="/#habilidades">Habilidades</a></li>
			<li><a href="/#contato">Contato</a></li>
			<a href="/api" id="button">API</a>
		</ul>
		<button id="btn-mobile" aria-haspopup="true" aria-label="Abrir menu" aria-expanded="false">
			<span id="hamburguer"></span>
		</button>
	</nav>
</header>

<main id="main">
	<div class="class">
		<div data-aos="fade-right" data-aos-delay="100" data-aos-duration="800">Web Developer</div>
		<div data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">UI/UX Design</div>
	</div>
	<h1 id="typed-text">Olá! Meu nome é <span>Henri Lima</span>.</h1>
	<div class="boxies">
		<div data-aos="fade" data-aos-delay="100" data-aos-duration="800">
			<p><span>Explorando</span> meu verdadeiro estilo.</p>
		</div>
		<div data-aos="fade" data-aos-delay="500" data-aos-duration="800">
			<p><span>Investindo</span> em criptomoedas...</p>
		</div>
		<div data-aos="fade" data-aos-delay="900" data-aos-duration="800">
			<p><span>Desenvolvendo</span> novos sistemas.</p>
		</div>
	</div>
</main>

<section class="sectione1 aboutme" id="sobremim">
	<span class="title" data-aos="fade-down" data-aos-duration="800">Sobre mim</span>
	<div>
		<div>
			<p data-aos="fade-down" data-aos-delay="100" data-aos-duration="800">
				Com 18 anos de idade, minha paixão é aprender novas tecnologias e habilidades da web. Como técnico em desenvolvimento de sistemas e designer, possuo uma base sólida de conhecimentos técnicos que me capacita a criar soluções criativas e funcionais.<br><br>
				Tenho um forte desejo de trabalhar em outros países, pois acredito que essa experiência me permitiria interagir com pessoas de diversas culturas e ampliar meus horizontes. Ao conversar com pessoas de diferentes origens, sou capaz de obter uma perspectiva global, o que contribui para o meu entendimento do mundo e meu crescimento como profissional.
			</p>
			<a href="/assets/CV.pdf" target="_blank" download><button id="cv" data-aos="fade-down" data-aos-delay="200">Ver Currículo</button></a>
		</div>
		<img src="/assets/bro.png" alt="Programming" data-aos="fade-down" data-aos-delay="100" data-aos-duration="800">
	</div>
</section>

<section class="sectione2 materials" id="materiais">
	<span class="title" data-aos="fade-down" data-aos-duration="800">Materiais</span>
	<div>
		<div class="box" data-aos="fade-down" data-aos-delay="100" data-aos-duration="800">
			<div class="images" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1800">
				<img src="/assets/notion.png" alt="logo notion" draggable="false">
			</div>
			<div class="bar">
				<h3><span>NOTION</span></h3>
				<p>Acesse todo o material disponível no Notion, além conhecer um pouco mais sobre mim.</p>

				<a href="https://henrilima-yno.notion.site/Henri-Lima-3f6d43c974394e88864022f9d69d0d39?pvs=4" target="_blank">Acesse aqui</a>
			</div>
		</div>
		<div class="box" data-aos="fade-down" data-aos-delay="300" data-aos-duration="800">
			<div class="images" data-aos="fade-right" data-aos-delay="700" data-aos-duration="1800">
				<img src="/assets/spotify.png" alt="logo spotify" draggable="false">
			</div>
			<div class="bar">
				<h3><span>Spotify</span></h3>
				<p>Acesse playlists que uso para programar.</p>

				<a href="https://open.spotify.com/playlist/5YzNvtLg58ptIQ4Nr3MCCf?si=7ba716fb1f954c74" target="_blank">Acesse aqui</a>
			</div>
		</div>
		<div class="box" data-aos="fade-down" data-aos-delay="500" data-aos-duration="800">
			<div class="images" data-aos="fade-right" data-aos-delay="900" data-aos-duration="1800">
				<img src="/assets/github.png" alt="logo github" draggable="false">
			</div>
			<div class="bar">
				<h3><span>Github</span></h3>
				<p>Acesse os códigos dos meus projetos em exibição.</p>

				<a href="https://github.com/henrilima" target="_blank">Acesse aqui</a>
			</div>
		</div>
	</div>
</section>

<section class="sectione3 hability" id="habilidades">
	<span class="title" data-aos="fade-down" data-aos-duration="800">Habilidades</span>
	<div>
		<img src="/assets/chart.png" alt="chart" draggable="false" data-aos="fade-down" data-aos-delay="100" data-aos-duration="800">
		<p data-aos="fade-down" data-aos-delay="300" data-aos-duration="800">
			As habilidades desempenham um papel fundamental em nossa vida pessoal e profissional. Elas são os recursos que nos capacitam a lidar com os desafios e demandas do mundo ao nosso redor. Dentre as diversas habilidades existentes, algumas se destacam por sua importância universal.
			As habilidades comunicativas são essenciais para transmitir nossas ideias e pensamentos de forma clara e eficaz. Já as habilidades técnicas são específicas de cada campo de atuação e nos permitem aplicar conhecimentos especializados em determinadas áreas. Desde programação e design gráfico até habilidades manuais e conhecimentos científicos, essas habilidades são a base para o sucesso em diversas profissões. <br><br>
			As habilidades de liderança são vitais para orientar equipes, tomar decisões estratégicas e alcançar resultados. O pensamento crítico nos ajuda a analisar informações de forma objetiva, identificar problemas e encontrar soluções criativas. As habilidades sociais e emocionais são fundamentais para o relacionamento com os outros. Por fim, as habilidades de aprendizagem contínua são essenciais em um mundo em constante evolução.
			Em resumo, essas habilidades são peças-chave para o sucesso pessoal e profissional. Desenvolvê-las e aprimorá-las ao longo da vida nos capacita a enfrentar os desafios, colaborar com os outros e crescer em todas as áreas de nossa vida.
		</p>
	</div>
</section>

<section class="sectione4 contact" id="contato">
	<span class="title" data-aos="fade-down" data-aos-duration="800">Contato</span>
	<a href="https://wa.me/5581996421340?text=Ol%C3%A1%21+Visitei+o+seu+portf%C3%B3lio.+%3AD" target="_blank">
		<div class="whatsapp" data-aos="fade-down" data-aos-delay="100" data-aos-duration="800">
			<h2 data-aos="fade-down" data-aos-delay="200" data-aos-duration="800">Me encontre no whatsapp</h2>
		</div>
	</a>
	<img src="/assets/henri.png" alt="Henri" draggable="false" data-aos="fade-down" data-aos-delay="100" data-aos-duration="800">
</section>

<footer id="footer">
	<div>
		<div class="coluna">
			<h2 data-aos="fade" data-aos-duration="800">Segurança e estilo, Cipher.</h2>
            <p data-aos="fade" data-aos-duration="800">&copy; 2023 Cipher. Todos os direitos reservados.</p>
		</div>
		<div class="coluna"></div>
		<div class="coluna">
			<h3 data-aos="fade" data-aos-duration="800">Me siga</h3>
			<div class="icons" data-aos="fade" data-aos-duration="800">
				<a href="https://instagram.com/henrilima.llsh" target="_blank" class="icon"><img src="./assets/instagram.png" draggable="false"></a>
				<a target="_blank" class="icon"><img src="./assets/linkedin.png" draggable="false"></a>
			</div>
		</div>
	</div>
	<div class="bar-color">
        
    </div>
</footer>

<script src="./javascript/main.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>

</html>