<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/assets/logo.png" type="image/png" />
        <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-database.js"></script>
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
        <title>Henri Lima</title>
        <meta name="title" content="Henri Lima" />
        <meta name="description" content="Com 18 anos de idade, minha paixão é aprender novas tecnologias e habilidades da web. Como técnico em desenvolvimento de sistemas e designer, possuo uma base sólida de conhecimentos técnicos que me capacita a criar soluções criativas e funcionais." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://github.com/henrilima/" />
        <meta property="og:title" content="Henri Lima" />
        <meta property="og:description" content="Com 18 anos de idade, minha paixão é aprender novas tecnologias e habilidades da web. Como técnico em desenvolvimento de sistemas e designer, possuo uma base sólida de conhecimentos técnicos que me capacita a criar soluções criativas e funcionais." />
        <meta property="og:image" content="/assets/icon.png" />
        <meta property="theme-color" content="#FF9364" />
        <link rel="stylesheet" href="./stylesheet/style.css" />
    </head>
    <body></body>
</html>
